.note {
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  height: 96%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: rgb(255, 185, 86);
  /* note color */
}
.note.scarlet {
  background: rgb(255, 100, 128);
}
.note.orange {
  background: rgb(255, 185, 86);
}
.note.yellow {
  background: rgb(255, 208, 18);
}
.note.cyan {
  background: rgb(52, 170, 220);
}
.note.green {
  background: rgb(76, 217, 100);
}
.note.purple {
  background: rgb(93, 91, 209);
}
.note.white {
  background: rgb(214, 214, 214);
}

.header {
  display: flex;
  height: 50px;
  margin-bottom: 30px;
  background: transparent;
}
.iconContainer {
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  outline: none;
  border: 2px solid transparent;
  opacity: 0.8;
}
.iconContainer:hover {
  opacity: 1;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.icon {
  font-size: 20px;
}

.title {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 24px;
  flex: 1;
}
.title:focus {
  background-color: rgb(255, 223, 179);
}
:global .noteDetail__title.active {
  background-color: rgb(255, 223, 179);
}
.body {
  flex: 1;
  min-height: 0;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  resize: none;
  outline: none;
  border: none;
  background-attachment: local;
  font-size: 18px;
  background-image: linear-gradient(
      to right,
      rgb(255, 223, 179) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(255, 223, 179) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(255, 223, 179),
      rgb(255, 223, 179) 35px,
      rgb(255, 185, 86) 30px,
      rgb(255, 185, 86) 31px,
      white 36px
    );
  line-height: 35px;
  padding: 8px 12px;
  /* textarea line color */
}

.content.small {
  font-size: 14px;
}
.content.regular {
  font-size: 18px;
}
.content.big {
  font-size: 24px;
}
.content.scarlet {
  background-image: linear-gradient(
      to right,
      rgb(255, 192, 204) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(255, 192, 204) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(255, 192, 204),
      rgb(255, 192, 204) 35px,
      rgb(255, 100, 128) 30px,
      rgb(255, 100, 128) 31px,
      white 36px
    );
}
.content.orange {
  background-image: linear-gradient(
      to right,
      rgb(255, 223, 179) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(255, 223, 179) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(255, 223, 179),
      rgb(255, 223, 179) 35px,
      rgb(255, 185, 86) 30px,
      rgb(255, 185, 86) 31px,
      white 36px
    );
}
.content.yellow {
  background-image: linear-gradient(
      to right,
      rgb(255, 240, 179) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(255, 240, 179) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(255, 240, 179),
      rgb(255, 240, 179) 35px,
      rgb(255, 208, 18) 30px,
      rgb(255, 208, 18) 31px,
      white 36px
    );
}
.content.cyan {
  background-image: linear-gradient(
      to right,
      rgb(188, 228, 245) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(188, 228, 245) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(188, 228, 245),
      rgb(188, 228, 245) 35px,
      rgb(52, 170, 220) 30px,
      rgb(52, 170, 220) 31px,
      white 36px
    );
}
.content.green {
  background-image: linear-gradient(
      to right,
      rgb(196, 244, 204) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(196, 244, 204) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(196, 244, 204),
      rgb(196, 244, 204) 35px,
      rgb(76, 217, 100) 30px,
      rgb(76, 217, 100) 31px,
      white 36px
    );
}
.content.purple {
  background-image: linear-gradient(
      to right,
      rgb(200, 199, 243) 10px,
      transparent 10px
    ),
    linear-gradient(to left, rgb(200, 199, 243) 10px, transparent 10px),
    repeating-linear-gradient(
      rgb(200, 199, 243),
      rgb(200, 199, 243) 35px,
      rgb(93, 91, 209) 30px,
      rgb(93, 91, 209) 31px,
      white 36px
    );
}
.content.white {
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 35px,
      rgb(214, 214, 214) 30px,
      rgb(214, 214, 214) 31px,
      white 36px
    );
}
