.header {
  width: 100%;
  text-align: center;
  padding: 30px 10px;
  background-color: #385461;
  position: relative;
}
.signoutContainer {
  width: 100%;
}
.signoutContainer > .logo {
  display: inline-block;
  width: 80px;
  margin-bottom: 20px;
}

.signoutContainer > .title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
/* signout header */

.signinContainer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.logoContainer {
  display: flex;
}
.logoContainer > .logo {
  width: 60px;
}
.logoContainer > .title {
  margin-left: 15px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
.btnContainer {
  display: flex;
  align-items: center;
}
.signout {
  min-width: 100px;
  padding: 12px;
  border-radius: 15%;
  background-color: #000;
  color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.nav {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ul {
  display: block;
}
.li {
  display: inline-block;
  transition: background 0.2s ease-in;
}
.li:hover {
  background: rgba(255, 255, 255, 0.3);
}
.cardMaker,
.noteMaker {
  display: block;
  width: 80px;
  padding: 20px;
}
.icon {
  color: #fff;
  font-size: 24px;
}
/* signin header */

@media screen and (max-width: 991px) {
  .header {
    padding: 17.5px 10px;
  }
  .logoContainer {
    align-items: center;
  }
  .logoContainer > .title {
    font-size: 22px;
  }
  .logoContainer > .logo {
    height: 45px;
  }
  .nav {
    position: static;
    left: 0;
    top: 0;
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .logoContainer > .title {
    text-indent: -9999px;
  }
}
